<h3>Post Form</h3>

<%= form_for @post, url: post_path do |f| %>
  <%= f.text_field :title, id: 'post[title]', name: 'title' %>
  <%= f.text_field :description, id: 'post[description]', name: 'description' %>
  <%= f.submit id:'Update post' %>
<% end %>
